# 为了确保应用依赖从你的虚拟环境/主机移植到你的容器中，在终端运行'pip freeze > requirements.txt'来覆盖这个文件
bottle==0.12.25
gevent==22.10.2
requests==2.28.2

pymysql==1.0.3
pyyaml==6.0.1

jsmin==3.0.1
csscompressor==0.9.5
htmlmin==0.1.12

Pillow==9.5.0
qrcode==7.4.2