% rebase('templates/base.html', title='SQL Executor')

    <h2>SQL Executor</h2>
        
    <form action="/sql-executor" method="POST" enctype="application/x-www-form-urlencoded">
        <input style="display: block; margin: 1rem 0;" type="text" name="conn_str" value="mysql://root:password@localhost:3306/mysql">
        <textarea style="display: block; margin: 1rem 0;" name="sql" rows="5" cols="45" placeholder="输入SQL语句"></textarea>
        <input style="display: block; margin: 1rem 0;" type="submit" value="执行SQL">
    </form>
    

