% rebase('templates/base.html', title='HTTP 发送请求')

<div id="app">
    <p>
            <h1>HTTP Request Send</h1>
            <form action="/http-request/send" method="post">
                <label for="url">URL:</label>
                <input type="text" size="50%" name="url" id="url" v-model="url" placeholder="url" required>
                <br>
                <label for="method">Method:</label>
                <select name="method" id="method" v-model="method">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                </select>
                <br>
                <label for="headers">Headers:</label>
                <textarea name="headers" id="headers" v-model="headers" rows="4" placeholder="Enter headers (optional)">Accept: */*</textarea>
                <br>
                <label for="body">Body:</label>
                <textarea name="body" id="body" v-model="body" rows="4" placeholder="Enter request body (optional)"></textarea>
                <br>

                <div v-if="response">
                    <h5>Local Response:</h5>
                    <textarea rows="10" v-model="response" readonly></textarea>
                </div>
                <button type="button" @click="sendRequest">Local Send Request</button>

                <button type="submit">Send Request</button>
            </form>

            % if response:
            <h5>Response:</h5>
            <pre>{{ response }}</pre>
            % end

        </p>
        </div>


            <script src="https://gcore.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
            <script src="https://gcore.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
          
            <script>
              new Vue({
                el: '#app',
                data() {
                  return {
                    url: '',
                    method: 'GET',
                    headers: `Accept: */*
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/114.0.0.0 Safari/537.36 Edg/114.0.1823.51
Referer: https://iapp.run/
Accept-Encoding: gzip, deflate, br`,
                    body: '',
                    response: ''
                  };
                },
                methods: {
                  sendRequest() {
                    const options = {
                      url: this.url,
                      method: this.method,
                      headers: this.parseHeaders(this.headers),
                      data: this.body
                    };
          
                    axios(options)
                      .then(response => {
                        this.response = JSON.stringify(response.data, null, 2);
                      })
                      .catch(error => {
                        this.response = 'Error: ' + error.message;
                      });
                  },
                  parseHeaders(headersString) {
                    const headers = {};
          
                    headersString.split('\n').forEach(header => {
                      const [name, value] = header.split(':');
                      if (name && value) {
                        headers[name.trim()] = value.trim();
                      }
                    });
          
                    return headers;
                  }
                }
              });
            </script>