% rebase('templates/base.html', title='MySQL 客户端')

<section>
    <h2 style="font-size: 1rem; margin-top: 0;">连接 MySQL 服务器并执行 SQL 语句</h2>
        
    <form action="/mysql-client" method="POST" enctype="application/x-www-form-urlencoded">
        <p>
        <textarea name="conn_str" rows="3" cols="40" placeholder="url">mysql://root:password@localhost:3306/mysql</textarea>
    </p>
    <p>
        <textarea name="sql" rows="5" cols="40" placeholder="sql statement" required></textarea>
    </p>

    <input type="submit" value="Execute">
    </form>
</section>

