<!DOCTYPE html>
<html>
<head>
  <!-- <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.6.0.min.css"/> -->

  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/script.js"></script>
  <title>{{ title }} - 我的工具</title>
</head>
<body>

<header>
  <nav>
    <ul style="list-style-type: none;">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
</header>

<main class="container">
    {{!base}}
</main>

<footer>
Powered by iApp.run! &copy; 2023, zero-ljz.
</footer>
</body>
</html>
