% rebase('templates/base.html', title='HTML 表单构建器')

<section>
    <h2 style="font-size: 1rem; margin-top: 0;">HTML 表单构建器</h2>

<form method="get" action="echo">
    <p>
        <input list="input-type-options" id="input-type" placeholder="type" value="text">
        <datalist id="input-type-options">
            <option value="text">
            <option value="file">
            <option value="textarea">
            <option value="date">
            <option value="time">
            <option value="datetime-local">
        </datalist>
        <button type="button" onclick="document.getElementById('input-type').value = ''">重选</button>
    </p>
    <p>
        <input id="input-name" type="text" placeholder="name">
        <button class="btn" type="button" onclick="addParam(event)">添加</button>
    </p>
<hr/>
    <p>
        <select id="form-method">
            <option value="get">GET</option>
            <option value="post">POST</option>
        </select>
        <input id="form-action" type="text" placeholder="action" value="echo">
    </p>
    <p>
        <input type="text" id="form-enctype" list="enctype-options" placeholder="enctype" value="application/x-www-form-urlencoded">
        <datalist id="enctype-options">
            <option value="application/x-www-form-urlencoded">URL编码表单（默认）</option>
            <option value="multipart/form-data">多部分表单数据（文件上传）</option>
            <option value="text/plain">纯文本</option>
        </datalist>
        <button type="button" onclick="document.getElementById('form-enctype').value = ''">重选</button>
    </p>

        <button class="btn" type="submit">提交</button>
        <button class="btn-gradient" type="button" onclick="
this.disabled = true; 
let form = this.parentNode;
const formData = new FormData(form);
fetch(form.action + (form.method === 'get' 
? (form.action.includes('?') ? '&' : '?') + new URLSearchParams(formData).toString() 
: ''), 
{ 
    method: form.method, 
    ...(form.method === 'post' && {
        headers: { 'Content-Type': document.getElementById('form-enctype').value },
        body: formData
    })
})
.then(resp => resp.text())
.then(text => { 
    alert(text); 
    this.disabled = false; 
});
">后台提交</button>

        <button type="button" onclick="
window.location.href = this.parentNode.action + (this.parentNode.action.includes('?') ? '&' : '?') + new URLSearchParams(new FormData(this.parentNode).entries()).toString();
">GET跳转</button>
    
<br/>
<br/>
</form>
</section>

<script>
    // 处理添加参数的函数
    function addParam(event) {
        var paramName = document.getElementById('input-name').value;
        var paramType = document.getElementById('input-type').value;

        if (paramName.trim() !== '') {
            var form = document.querySelector('form');
            if (paramType === 'text') {
                var input = document.createElement('input');
                input.name = paramName;
                input.type = 'text';
                input.placeholder = paramName;
            } else if (paramType === 'file') {
                var input = document.createElement('input');
                input.title = paramName;
                input.name = paramName;
                input.type = 'file';
            } else if(paramType === 'textarea') {
                var input = document.createElement('textarea');
                input.name = paramName;
                input.placeholder = paramName;
            } else if (paramType === 'date' || paramType === 'time' || paramType === 'datetime-local') {
                var input = document.createElement('input');
                input.title = paramName;
                input.name = paramName;
                input.type = paramType;
            }
            else
            {
                var input = document.createElement('input');
                input.title = paramName;
                input.name = paramName;
                input.type = paramType;
            }
            
            let htmlText = `<p>
<lable for="${paramName}">${paramName}:</lable><br/>
${input.outerHTML} <button type="button" onclick="this.parentNode.remove()">删除</button>
</p>
`;
            form.appendChild(document.createRange().createContextualFragment(htmlText).firstElementChild);
            
            document.getElementById('input-name').value = "";
        }
    }

    // 为form-action添加改变事件，绑定到当前form的action属性
    var formActionInput = document.getElementById('form-action');
    formActionInput.addEventListener('change', function () {
        var form = document.querySelector('form');
        form.action = formActionInput.value;
    });

    // 为form-method添加切换事件，绑定到当前form的method属性
    var formMethodSelect = document.getElementById('form-method');
    formMethodSelect.addEventListener('change', function () {
        var form = document.querySelector('form');
        form.method = formMethodSelect.value;
    });

    // 为form-enctype添加切换事件，绑定到当前form的enctype属性
    var formEnctypeSelect = document.getElementById('form-enctype');
    formEnctypeSelect.addEventListener('change', function () {
        var form = document.querySelector('form');
        form.enctype = formEnctypeSelect.value;
    });
</script>

</body>

</html>