% rebase('templates/base.html', title='Home')
<p>
    
  <ul>
    <li><a href="/html5gallery">HTML 5 Gallery</a></li>
    <li><a href="/htmlrun">HTML Runner</a></li>
    <li><a href="/jsrun">JS Runner</a></li>
    <li><a href="/json_viewer">JSON Viewer</a></li>
    <li><a href="/code_formatter">Code Formatter</a></li>

    <li><a href="/http_proxy">HTTP Proxy</a></li>
    <li><a href="/echo">HTTP Request Echo</a></li>
    <li><a href="/httpreq">HTTP Send Request</a></li>

    <li><a href="/encode">Text to Encode/Decode</a></li>
    <li><a href="/u">URL Shortener</a></li>
</ul>

</p>