% rebase('templates/base.html', title='Home')
<p>
    
  <ul>
    <li><a href="/echo">HTTP Request Echo</a></li>
    <li><a href="/html5gallery">HTML 5 Gallery</a></li>
    <li><a href="/postman">Postman</a></li>
    <li><a href="/encode">Text to Encode/Decode</a></li>
    <li><a href="/short_url">URL Shortener</a></li>
    <li><a href="/htmlrun">HTML Online Runner</a></li>
    <li><a href="/jsrun">JS Online Runner</a></li>
    <li><a href="/http_proxy">HTTP Proxy</a></li>
    <li><a href="/httpreq">HTTP Request</a></li>
</ul>

</p>