% rebase('templates/base.html', title='首页')
<p>
    
  <ul>
    <li><a href="/html5gallery">HTML 5 Gallery</a></li>
    <li><a href="/html_runner">HTML 代码运行</a></li>
    <li><a href="/js_runner">JS 代码运行</a></li>
    <li><a href="/json_viewer">JSON 浏览器</a></li>
    <li><a href="/code_formatter">代码格式化器</a></li>
    <li><a href="/regex_tester">正则表达式工具</a></li>
    <li><a href="/unit_converter">单位换算器</a></li>
    <li><a href="/calculator">多功能计算器</a></li>

    <li><a href="/http_proxy">HTTP 代理</a></li>
    <li><a href="/echo">HTTP 请求信息</a></li>
    <li><a href="/httpreq">HTTP 发送请求</a></li>

    <li><a href="/textio">字符串编解码</a></li>
    <li><a href="/u">URL 缩短器</a></li>
</ul>

</p>