% rebase('templates/base.html', title='JS Runner')

<section style="padding: 10px; background-color: #fff;">
  <h2 style="font-size: 1rem; margin-top: 0;">JS 在线运行</h2>

    <label for="jsCode">JavaScript Code:</label><br>
    <textarea id="jsCode" rows="10" cols="40"></textarea><br>
    
    <button onclick="runCode()">Run</button>
    
    <hr style="margin-bottom:5px; border:0;">
    <pre id="output"></pre>
</section>

    <script>
        function runCode() {
            var jsCode = document.getElementById("jsCode").value;
            var outputElement = document.getElementById("output");
            
            try {
                var output = eval(jsCode);
                outputElement.textContent = output;
            } catch (error) {
                outputElement.textContent = "Error: " + error.message;
            }
        }
    </script>
