% rebase('templates/base.html', title='密码生成器')


<h1>密码生成器</h1>

<label style="display: block; margin: 1rem 0;" for="password-length">密码长度:</label>
<select id="password-length">
    <option value="10">10</option>
    <option value="6">6</option>
    <option value="8">8</option>
    <option value="12">12</option>
    <option value="16">16</option>
    <option value="20">20</option>
    <option value="30">30</option>
</select>


<label style="display: block; margin: 1rem 0;" for="password-type">密码类型:</label>
<select id="password-type">
    <option value="mixed">混合</option>
    <option value="numeric">数字</option>
    <option value="alphabet">字母</option>
    <option value="alphanumeric">字母加数字</option>
    <option value="lowercasealphanumeric">小写字母加数字</option>
</select>

<div style="display: block; margin: 1rem 0;"><button onclick="document.getElementById('generated-password').innerText = generatePassword(parseInt(document.getElementById('password-length').value), document.getElementById('password-type').value)">生成密码</button>
<button onclick="copyPassword()">复制密码</button></div>



<hr style="margin-bottom:5px; border:0;">

<p contenteditable="true" id="generated-password"></p>

<script>
    function generatePassword(passwordLength, passwordType) {
        var password = "";

        var numericChars = "0123456789";
        var lowercaseChars = "abcdefghijklmnopqrstuvwxyz";
        lowercaseChars = lowercaseChars.replace(/[l]/g, '');

        var uppercaseChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        uppercaseChars = uppercaseChars.replace(/[IO]/g, ''); // 去除容易混淆的字符

        //var specialChars = "!@#$%^&*()-_=+[]{}|;:'\"<>,.?/";
        var specialChars = "~!@#%^&*()-_+={[}]|\\:;<,>.?/";

        if (passwordType === 'numeric') {
            for (var i = 0; i < passwordLength; i++) {
                password += numericChars.charAt(Math.floor(Math.random() * numericChars.length));
            }
        } else if (passwordType === 'alphabet') {
            var allChars = lowercaseChars + uppercaseChars;
            for (var i = 0; i < passwordLength; i++) {
                password += allChars.charAt(Math.floor(Math.random() * allChars.length));
            }
        } else if (passwordType === 'alphanumeric') {
            var allChars = lowercaseChars + uppercaseChars + numericChars;
            password += lowercaseChars.charAt(Math.floor(Math.random() * lowercaseChars.length)); // At least one lowercase
            password += uppercaseChars.charAt(Math.floor(Math.random() * uppercaseChars.length)); // At least one uppercase
            password += numericChars.charAt(Math.floor(Math.random() * numericChars.length)); // At least one numeric
            for (var i = 0; i < passwordLength - 3; i++) {
                password += allChars.charAt(Math.floor(Math.random() * allChars.length));
            }
        } else if (passwordType === 'mixed') {
            var allChars = lowercaseChars + uppercaseChars + numericChars + specialChars;
            password += lowercaseChars.charAt(Math.floor(Math.random() * lowercaseChars.length)); // At least one lowercase
            password += uppercaseChars.charAt(Math.floor(Math.random() * uppercaseChars.length)); // At least one uppercase
            password += numericChars.charAt(Math.floor(Math.random() * numericChars.length)); // At least one numeric
            password += specialChars.charAt(Math.floor(Math.random() * specialChars.length)); // At least one special

            for (var i = 0; i < passwordLength - 4; i++) {
                password += allChars.charAt(Math.floor(Math.random() * allChars.length));
            }
        } else if (passwordType === 'lowercasealphanumeric') {
            var allChars = lowercaseChars + numericChars;
            password += lowercaseChars.charAt(Math.floor(Math.random() * lowercaseChars.length)); // At least one lowercase
            password += numericChars.charAt(Math.floor(Math.random() * numericChars.length)); // At least one numeric

            for (var i = 0; i < passwordLength - 2; i++) {
                password += allChars.charAt(Math.floor(Math.random() * allChars.length));
            }
        }
        return shuffleString(password);
    }

    function shuffleString(str) { // 打乱字符串所有字符
        var arr = str.split('');
        var n = arr.length;

        for (var i = n - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = arr[i];
            arr[i] = arr[j];
            arr[j] = temp;
        }

        return arr.join('');
    }

    function copyPassword() {
        var generatedPassword = document.getElementById('generated-password').innerText;

        // 创建一个临时文本区域，将密码复制到其中
        var tempTextArea = document.createElement('textarea');
        tempTextArea.value = generatedPassword;
        document.body.appendChild(tempTextArea);

        // 选中文本
        tempTextArea.select();
        tempTextArea.setSelectionRange(0, 99999); // 支持移动设备

        // 复制文本到剪贴板
        document.execCommand('copy');

        // 移除临时文本区域
        document.body.removeChild(tempTextArea);

        // 弹出提示信息，告知密码已经复制到剪贴板
        alert('密码已复制到剪贴板');
    }
</script>
