% rebase('templates/base.html', title='二维码生成器')

  <script src="https://gcore.jsdelivr.net/npm/qrious/dist/qrious.min.js"></script>
  <script src="https://gcore.jsdelivr.net/npm/jsqr/dist/jsQR.min.js"></script>    

  <section>
    <h2 style="font-size: 1rem; margin-top: 0;">二维码生成和识别</h2>

  <h3>生成</h3>

  <img id="qrious">

  <form autocomplete="off">
    <p>
    <label>
      value
      <!-- <input type="text" name="value" value="" spellcheck="false"> -->
    </label><br/>
    <textarea name="value" cols="40" rows="5"></textarea>
  </p>

  <p>
    <label>
      size
    </label>
    <input type="number" name="size" placeholder="100" min="100" max="1000" value="250">
  </p>

  <p>
    <label>
      padding
    </label>
    <input type="number" name="padding" placeholder="Auto" min="0">
  </p>

    <p>
    <label>
      level
    </label>
    <select name="level">
      <option value="L">L - 7% damage</option>
      <option value="M">M - 15% damage</option>
      <option value="Q">Q - 25% damage</option>
      <option value="H">H - 30% damage</option>
    </select>
  </p>

    <p>
    <label>
      background color
    </label>
    <input type="color" name="background" value="#ffffff">
  </p>

    <p>
    <label>
      background alpha
    </label>
    <input type="number" name="backgroundAlpha" placeholder="1" min="0" max="1" step="0.1" value="1">
  </p>

    <p>
    <label>
      foreground color
    </label>
    <input type="color" name="foreground" value="#000000">
  </p>

    <p>
    <label>
      foreground alpha
    </label>
    <input type="number" name="foregroundAlpha" placeholder="1" min="0" max="1" step="0.1" value="1">
  </p>
  </form>

  <h3>识别</h3>
  <p>
  <input type="file" accept="image/*" id="upload-input">
  <button onclick="decodeQRCode()">识别二维码</button>
  <div id="decoded-text"></div>
  </p>
  </section>

  <script>

(function() {
    var $background = document.querySelector('main form [name="background"]');
    var $backgroundAlpha = document.querySelector('main form [name="backgroundAlpha"]');
    var $foreground = document.querySelector('main form [name="foreground"]');
    var $foregroundAlpha = document.querySelector('main form [name="foregroundAlpha"]');
    var $level = document.querySelector('main form [name="level"]');
    var $section = document.querySelector('main section');
    var $padding = document.querySelector('main form [name="padding"]');
    var $size = document.querySelector('main form [name="size"]');
    var $value = document.querySelector('main form [name="value"]');

    var qr = window.qr = new QRious({
      element: document.getElementById('qrious'),
      size: 250,
      value: ''
    });

    $background.addEventListener('change', function() {
      qr.background = $background.value || null;
    });

    $backgroundAlpha.addEventListener('change', function() {
      qr.backgroundAlpha = $backgroundAlpha.value || null;
    });

    $foreground.addEventListener('change', function() {
      qr.foreground = $foreground.value || null;
    });

    $foregroundAlpha.addEventListener('change', function() {
      qr.foregroundAlpha = $foregroundAlpha.value || null;
    });

    $level.addEventListener('change', function() {
      qr.level = $level.value;
    });

    $padding.addEventListener('change', function() {
      if ($padding.validity.valid) {
        qr.padding = $padding.value !== '' ? $padding.value : null;
      }
    });

    $size.addEventListener('change', function() {
      if (!$size.validity.valid) {
        return;
      }

      qr.size = $size.value || null;

      $section.style.minWidth = qr.size + 'px';
    });


    $value.addEventListener('input', function() {
      qr.value = $value.value;
    });
  })();


    function decodeQRCode() {
        var fileInput = document.getElementById("upload-input");
        var file = fileInput.files[0];
  
        if (file) {
          var reader = new FileReader();
          reader.onload = function(event) {
            var image = new Image();
            image.src = event.target.result;
            image.onload = function() {
              var canvas = document.createElement("canvas");
              canvas.width = image.width;
              canvas.height = image.height;
              var ctx = canvas.getContext("2d");
              ctx.drawImage(image, 0, 0, image.width, image.height);
  
              var imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
              var code = jsQR(imageData.data, imageData.width, imageData.height);
              
              if (code) {
                document.getElementById("decoded-text").textContent = "解析结果：" + code.data;
              } else {
                document.getElementById("decoded-text").textContent = "未能解析二维码";
              }
            };
          };
          reader.readAsDataURL(file);
        }
      }
  </script>
