% rebase('templates/base.html', title='QR Code Generator')

  <script src="https://cdn.jsdelivr.net/npm/qrious/dist/qrious.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.min.js"></script>    

  <h1>二维码生成器和解析器</h1>

  <h2>生成二维码</h2>

  <img id="qrious">

  <form autocomplete="off">
    <label>
      value
      <input type="text" name="value" value="" spellcheck="false">
    </label>

    <label>
      size
      <input type="number" name="size" placeholder="100" min="100" max="1000" value="250">
    </label>

    <label>
      padding
      <input type="number" name="padding" placeholder="Auto" min="0">
    </label>

    <label>
      level
      <select name="level">
        <option value="L">L - 7% damage</option>
        <option value="M">M - 15% damage</option>
        <option value="Q">Q - 25% damage</option>
        <option value="H">H - 30% damage</option>
      </select>
    </label>
<br/>
<br/>
    <label>
      background color
      <input type="color" name="background" value="#ffffff">
    </label>

    <label>
      background alpha
      <input type="number" name="backgroundAlpha" placeholder="1" min="0" max="1" step="0.1" value="1">
    </label>

    <label>
      foreground color
      <input type="color" name="foreground" value="#000000">
    </label>

    <label>
      foreground alpha
      <input type="number" name="foregroundAlpha" placeholder="1" min="0" max="1" step="0.1" value="1">
    </label>
  </form>

  <h2>从本地上传二维码并识别</h2>
  <input type="file" accept="image/*" id="upload-input">
  <button onclick="decodeQRCode()">识别二维码</button>
  <div id="decoded-text"></div>
  <script>

(function() {
    var $background = document.querySelector('main form [name="background"]');
    var $backgroundAlpha = document.querySelector('main form [name="backgroundAlpha"]');
    var $foreground = document.querySelector('main form [name="foreground"]');
    var $foregroundAlpha = document.querySelector('main form [name="foregroundAlpha"]');
    var $level = document.querySelector('main form [name="level"]');
    var $section = document.querySelector('main section');
    var $padding = document.querySelector('main form [name="padding"]');
    var $size = document.querySelector('main form [name="size"]');
    var $value = document.querySelector('main form [name="value"]');

    var qr = window.qr = new QRious({
      element: document.getElementById('qrious'),
      size: 250,
      value: ''
    });

    $background.addEventListener('change', function() {
      qr.background = $background.value || null;
    });

    $backgroundAlpha.addEventListener('change', function() {
      qr.backgroundAlpha = $backgroundAlpha.value || null;
    });

    $foreground.addEventListener('change', function() {
      qr.foreground = $foreground.value || null;
    });

    $foregroundAlpha.addEventListener('change', function() {
      qr.foregroundAlpha = $foregroundAlpha.value || null;
    });

    $level.addEventListener('change', function() {
      qr.level = $level.value;
    });

    $padding.addEventListener('change', function() {
      if ($padding.validity.valid) {
        qr.padding = $padding.value !== '' ? $padding.value : null;
      }
    });

    $size.addEventListener('change', function() {
      if (!$size.validity.valid) {
        return;
      }

      qr.size = $size.value || null;

      $section.style.minWidth = qr.size + 'px';
    });


    $value.addEventListener('input', function() {
      qr.value = $value.value;
    });
  })();


    function decodeQRCode() {
        var fileInput = document.getElementById("upload-input");
        var file = fileInput.files[0];
  
        if (file) {
          var reader = new FileReader();
          reader.onload = function(event) {
            var image = new Image();
            image.src = event.target.result;
            image.onload = function() {
              var canvas = document.createElement("canvas");
              canvas.width = image.width;
              canvas.height = image.height;
              var ctx = canvas.getContext("2d");
              ctx.drawImage(image, 0, 0, image.width, image.height);
  
              var imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
              var code = jsQR(imageData.data, imageData.width, imageData.height);
              
              if (code) {
                document.getElementById("decoded-text").textContent = "解析结果：" + code.data;
              } else {
                document.getElementById("decoded-text").textContent = "未能解析二维码";
              }
            };
          };
          reader.readAsDataURL(file);
        }
      }
  </script>
