<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: #999;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }

        ul>li {
            margin-left: 20px;
        }

        ul>li:before {
            content: "▸";
            margin-left: -20px;
            margin-right: 5px;
        }

        ul>li.collapsed:before {
            content: "▾";
        }
    </style>
</head>

<body>

    <div id="tree-container"></div>

    <script>


        function buildTree(nodes, items=[]) {
            const treeMap = new Map();
            const tree = [];

            // 将扁平数组按照 parent_id 分组
            nodes.forEach(node => {
                if (!treeMap.has(node.parent_id)) {
                    treeMap.set(node.parent_id, []);
                }

                // 用node.id去items中查找对应项
                const matchingItems = items.filter(item => item.node_id === parseInt(node.id));
                if (matchingItems.length > 0) {
                    node.items = matchingItems.map(({ node_id, ...rest }) => rest); // 提取 node_id 属性以外的所有属性
                }
                
                const { parent_id, ...rest } = node // 提取 parent_id 属性以外的所有属性
                treeMap.get(node.parent_id).push(rest);
            });

            // 递归构建嵌套结构
            const build = parentId => {
                if (treeMap.has(parentId)) {
                    treeMap.get(parentId).forEach(child => {
                        if (treeMap.has(child.id)) {
                            child.children = treeMap.get(child.id);
                            build(child.id);
                        }
                    });
                }
            };

            // 构建整个树
            build(null);

            // 获取顶层节点
            treeMap.get(null).forEach(node => {
                tree.push(node);
            });

            return tree;
        }

        function flattenTree(nodeTree, parentId = null) {
            let nodes = [];

            nodeTree.forEach(node => {
                const { children, ...rest } = node; // 提取 children 属性以外的所有属性

                // 添加当前节点到扁平数组
                nodes.push({ ...rest, parent_id: parentId });

                // 如果有子节点，递归处理
                if (children) {
                    nodes = nodes.concat(flattenTree(children, node.id));
                }
            });

            return nodes;
        }


        function createTree(parentElement, nodeItemsTree) {
            const ul = document.createElement("ul");
            parentElement.appendChild(ul);

            nodeItemsTree.forEach(node => {
                const li = document.createElement("li");
                li.textContent = node.name;
                // 将节点的所有属性设置为li元素上的data-*属性
                for (const key in node) {
                    if (key !== "name" && key !== "children") {
                        li.dataset[key] = node[key];
                    }
                }

                // 遍历创建节点中的项
                if (node.items && node.items.length > 0) {
                    const ol = document.createElement("ol");
                    node.items.forEach(item => {
                        const li = document.createElement("li");
                        li.textContent = item.name;
                        // 将项的所有属性设置为li元素上的data-*属性
                        for (const key in item) {
                            li.dataset[key] = item[key];
                        }
                        ol.appendChild(li);
                    });
                    li.appendChild(ol);
                }

                if (node.children && node.children.length > 0) { // 有子节点
                    li.classList.add("collapsed");
                    createTree(li, node.children);
                }

                ul.appendChild(li);
            });
        }


        function parseTree(element) {
            function parseNode(node) {
                const nodeItem = {
                    name: node.firstChild.textContent.trim(),
                };

                // 复制所有data-*属性到对象
                Object.keys(node.dataset).forEach(attr => {
                    nodeItem[attr] = node.dataset[attr];
                });

                const children = node.querySelector('ul');
                if (children) {
                    nodeItem.children = Array.from(children.children).map(parseNode);
                }

                const ol = node.querySelector('ol');
                if (ol) {
                    let items = [];
                    Array.from(ol.children).filter(rootNode => rootNode.tagName === 'LI').forEach(li => {
                        const item = {
                            name: li.textContent.trim(),
                        };
                        // 复制所有data-*属性到对象
                        Object.keys(li.dataset).forEach(attr => {
                            if (attr !== "node_id") { // 忽略node_id
                                item[attr] = li.dataset[attr];
                            }
                        })
                        items.push(item);
                    })
                    nodeItem.items = items;
                }

                return nodeItem;
            }

            return Array.from(element.querySelector('ul').children)
                .filter(rootNode => rootNode.tagName === 'LI')
                .map(parseNode);
        }




            function breadthFirstSearch(data, searchTerm) {
                const queue = [...data]; // 使用扩展运算符创建初始队列，复制初始数据以避免修改原始数据
                const results = [];

                while (queue.length > 0) {
                    const currentNode = queue.shift(); // 移除队列中的第一个元素并返回

                    // 检查当前节点的 items 中是否有匹配的 name
                    if (currentNode.items) {
                        for (const item of currentNode.items) {
                            if (item.name.includes(searchTerm)) {
                                results.push(item);
                            }
                        }
                    }

                    // 将当前节点的子节点添加到队列中，以便继续搜索
                    if (currentNode.children) {
                        queue.push(...currentNode.children);
                    }
                }

                return results;
            }





        let nodes = [
            { "id": 1, "description": "", "name": "a", "parent_id": null },
            { "id": 2, "description": "", "name": "b", "parent_id": null },
            { "id": 3, "description": "", "name": "aa", "parent_id": 1 },
            { "id": 4, "description": "", "name": "ab", "parent_id": 1 },
            { "id": 5, "description": "", "name": "aaa", "parent_id": 3 },
            { "id": 6, "description": "", "name": "aaaa", "parent_id": 5 }
        ]
        // console.log(nodes);
        // console.log(JSON.stringify(nodes, null, 2));

        let items = [
            { "id": 1, "node_id": 1, "create_at": "1970-01-01 00:00:00", "name": "A" },
            { "id": 2, "node_id": 2, "create_at": "1970-01-01 00:00:00", "name": "B" },
            { "id": 3, "node_id": 3, "create_at": "1970-01-01 00:00:00", "name": "AA" },
            { "id": 4, "node_id": 3, "create_at": "1970-01-01 00:00:00", "name": "AB" },
            { "id": 5, "node_id": 3, "create_at": "1970-01-01 00:00:00", "name": "AC" },
        ]

        // console.log(items);
        console.log(JSON.stringify(items, null, 2));

        let nodeTree = buildTree(nodes);
        // console.log(nodeTree);
        console.log(JSON.stringify(nodeTree, null, 2));

        let nodeItemsTree = buildTree(nodes, items);
        // console.log(nodeItemsTree);
        console.log(JSON.stringify(nodeItemsTree, null, 2));

        nodes = flattenTree(nodeTree);
        // console.log(nodes);
        console.log(JSON.stringify(nodes, null, 2));


        // 创建树形元素
        createTree(document.getElementById("tree-container"), nodeItemsTree);

        // 解析获取树形结构对象
        nodeItemsTree = parseTree(document.getElementById("tree-container"));
        // console.log(nodeItemsTree);
        console.log(JSON.stringify(nodeItemsTree, null, 2));






        const results = breadthFirstSearch(nodeItemsTree, 'a');
console.log(results);











    </script>

</body>

</html>